.container{
    background-color: rgb(1, 33, 72);
    margin-top: 100px; 
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 13px 10px 12px black;
   
}

.data{
    margin-bottom: 20px;
    font-weight: 500;

}

.header{
    margin-bottom: 20px;
    color: rgb(45, 109, 166);
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 4px 0px 5px black;
    font-size: 60px;
}
.label{
    margin-bottom: 10px;
    font-weight: 700;
    font-size:30px;
    color: rgb(45, 109, 166);
}
#name,#email{
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 10px;
}
.start-quiz{
    margin-top: 5px;
}